
* { 
    margin: 0;
    padding: 0;
    
}


body {
    text-align: center;
    flex-direction: column;
}
button {
    background: skyblue;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    border: 2px solid green;
}










